---
title: Load test failure!
assignees:
  - edinc
labels:
  - bug
---
A load test failure has occurred. Please access the Azure Load Test portal to learn more about this latest run.